.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: url('https://i.ibb.co/qDVj51p/Background-Black.png');
  /* https://i.ibb.co/51Hw717/Background.png */
  background-size: cover;
}
.login-container1 {
  width: 50%;
  height: 700px;
  margin-top: 2.5%;
  display: flex;
  position: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
  /* border-color: aqua; */
  /* border-width: 5px;
  border-style: solid; */
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); /* Add a box shadow */
}

.login-container1:hover {
  box-shadow: 8px 24px 32px 0 rgba(0, 174, 255, 0.2);
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}
.login-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 112px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: flex-start;
}
.login-navlink {
  display: contents;
}

.login-navlink1 {
  color: #818181;
  font-size: 25px;
  font-family: Bebas Neue;
  text-decoration: none;
}

.login-navlink1:hover {
  color: #008cff;
  border-color: #ffffff;
  text-decoration: underline;
}

.login-icon {
  width: 125px;
  height: 78px;
  text-decoration: none;
}

.login-icon:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.login-container3 {
  width: 496px;
  height: 1000px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.login-container4 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.login-text {
  font-size: 70px;
  margin-top: 1px;
  font-family: Bebas Neue;
}
.login-text1 {
  font-size: 25px;
  font-style: normal;
  font-family: Bebas Neue;
  font-weight: 400;
}
