.register-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: url('https://i.ibb.co/qDVj51p/Background-Black.png');
  /* https://i.ibb.co/51Hw717/Background.png */
  background-size: cover;
 
}
.register-maincontainer{
  width: 50%;
  height: 760px;
  margin-top: 2.5%;
  display: center;
  position: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); /* Add a box shadow */
}

.register-maincontainer:hover {
  box-shadow: 8px 24px 32px 0 rgba(0, 174, 255, 0.2);
  transform: scale(1.025);
  transition: all 0.5s ease-in-out;
}

.register-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: flex-start;
}
.register-navlink {
  display: contents;
}
.register-backbtn {
  margin-top: 25px;
  width: 125px;
  height: 78px;
  text-decoration: none;
}

.register-backbtn:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.register-container3 {
  width: 455px;
  height: 758px;
  display: flex;
  position: relative;
  margin-top: 0px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.register-text {
  font-size: 60px;
  align-self: center;
  font-family: Bebas Neue;
  text-transform: uppercase;
}
.register-container5 {
  width: 100%;
  height: 700px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  /* width: 496px;
  height: 1000px; */

}
.register-text3 {
  font-size: 25px;
  font-style: normal;
  font-family: Bebas Neue;
  font-weight: 400;
}
.register-navlink1 {
  color: #818181;
  font-size: 25px;
  font-family: Bebas Neue;
  border-color: #ffffff;
  border-width: 5px;
  text-decoration: none;
}

.register-navlink1:hover {
  color: #008cff;
  border-color: #ffffff;
  border-width: 5px;
  text-decoration: none;
}
