.about-person-testimonial-card {
    width: 100%;
    display: flex;
    padding: 48px;
    max-width: 1400px;
    background: #fff;
    box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
    align-items: center;
    justify-content: center;
  }
  .about-person-image {
    width: 192px;
    height: 192px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: var(--dl-radius-radius-round);
  }
  .about-person-social-bar {
    width: 100%;
    display: flex;
    padding: 48px;
    justify-content: center;
  }
  .about-person-icon {
    width: 16px;
    height: 16px;
    margin-right: 32px;
  }
  .about-person-icon02 {
    width: 16px;
    height: 16px;
    margin-right: 32px;
  }
  .about-person-icon04 {
    width: 16px;
    height: 16px;
    margin-right: 32px;
  }
  .about-person-icon06 {
    width: 16px;
    height: 16px;
    margin-right: 32px;
  }
  .about-person-icon08 {
    width: 16px;
    height: 16px;
  }
  .about-person-root-class-name1 {
    align-self: flex-start;
  }
  .about-person-root-class-name2 {
    align-self: flex-start;
  }
  
  
  
  @media(max-width: 1200px) {
    .about-person-testimonial-card {
      width: 327px;
      height: 321px;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    .about-person-text {
      height: 142px;
    }
    .about-person-social-bar {
      width: 289px;
      height: 33px;
      padding: var(--dl-space-space-unit);
    }
    .about-person-root-class-name {
      flex: 0;
    }
    .about-person-root-class-name3 {
      align-self: center;
    }
  }
  @media(max-width: 767px) {
    .about-person-testimonial-card {
      padding-left: 32px;
      padding-right: 32px;
    }
    .about-person-social-bar {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  @media(max-width: 479px) {
    .about-person-testimonial-card {
      padding-top: 32px;
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      flex-direction: column;
      padding-bottom: 32px;
    }
    .about-person-social-bar {
      padding-top: 32px;
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: 32px;
    }
  }
  