.input-box-for-info-container {
  height: 95px;
  margin: var(--dl-space-space-doubleunit);
  display: flex;
  position: relative;
  flex-direction: column;
}
.input-box-for-info-text {
  margin: 1px;
  font-size: 28px;
  font-family: Bebas Neue;
}
.input-box-for-info-textinput {
  width: 361px;
  margin: 0px;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  font-family: Bebas Neue;
}
.input-box-for-info-root-class-name {
  align-self: center;
  margin-top: 2px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.input-box-for-info-root-class-name1 {
  margin: 2px;
  align-self: center;
}
.input-box-for-info-root-class-name2 {
  margin: 2px;
  align-self: center;
}
.input-box-for-info-root-class-name3 {
  margin: 2px;
  align-self: center;
}
.input-box-for-info-root-class-name4 {
  margin: 2px;
  align-self: center;
}
.input-box-for-info-root-class-name5 {
  width: 100%;
  margin: var(--dl-space-space-doubleunit);
  align-self: stretch;
}
.input-box-for-info-root-class-name6 {
  width: 100%;
  margin: var(--dl-space-space-doubleunit);
  align-self: stretch;
}
.input-box-for-info-root-class-name7 {
  width: 100%;
  margin: var(--dl-space-space-doubleunit);
  align-self: stretch;
}
.input-box-for-info-root-class-name8 {
  width: 100%;
  margin: var(--dl-space-space-doubleunit);
  align-self: stretch;
}
.input-box-for-info-root-class-name9 {
  width: 100%;
  margin: var(--dl-space-space-doubleunit);
  align-self: stretch;
}
.input-box-for-info-root-class-name10 {
  width: 100%;
  margin: var(--dl-space-space-doubleunit);
  align-self: stretch;
}
.input-box-for-info-root-class-name11 {
  width: 100%;
  margin: var(--dl-space-space-doubleunit);
  align-self: stretch;
}
.input-box-for-info-root-class-name12 {
  top: 227px;
  left: 30px;
  margin: var(--dl-space-space-halfunit);
  position: absolute;
}
.input-box-for-info-root-class-name13 {
  top: 296px;
  left: 33px;
  margin: var(--dl-space-space-halfunit);
  position: absolute;
}
